html * {
  color: #233238;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Media Queries */

@media screen and (max-width: 3000px) {
    .app-content-body > .content-body {
      padding-left: 450px;
      padding-right: 450px;
    }
    .ancestor > .chapter-content-body {
      margin-left: 450px;
      margin-right: 450px;
    }
    .chapter-content-body > .test-form {
      padding-left: 150px;
      padding-right: 150px;
    }
}

@media screen and (max-width: 2200px) {
    .app-content-body > .content-body {
      padding-left: 450px;
      padding-right: 450px;
    }
    .ancestor > .chapter-content-body {
      margin-left: 350px;
      margin-right: 350px;
    }
    .chapter-content-body > .test-form {
      padding-left: 150px;
      padding-right: 150px;
    }
}

@media screen and (max-width: 2000px) {
    .app-content-body > .content-body {
      padding-left: 375px;
      padding-right: 375px;
    }
    .ancestor > .chapter-content-body {
      margin-left: 250;
      margin-right: 250;
    }
    .chapter-content-body > .test-form {
      padding-left: 200px;
      padding-right: 200px;
    }
}

@media screen and (max-width: 1800px) {
    .app-content-body > .content-body {
      padding-left: 300px;
      padding-right: 300px;
    }
    .ancestor > .chapter-content-body {
      margin-left: 200px;
      margin-right: 200px;
    }
    .chapter-content-body > .test-form {
      padding-left: 150px;
      padding-right: 150px;
    }
}

@media screen and (max-width: 1500px) {
    .app-content-body > .content-body {
      padding-left: 200px;
      padding-right: 200px;
    }
    .ancestor > .chapter-content-body {
      margin-left: 150px;
      margin-right: 150px;
    }
    .chapter-content-body > .test-form {
      padding-left: 150px;
      padding-right: 150px;
    }
}


@media screen and (max-width: 1200px) {
    .app-content-body > .content-body {
      padding-left: 100px;
      padding-right: 100px;
    }
    .ancestor > .chapter-content-body {
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 150px;
      margin-left: 150px;
    }
    .chapter-content-body > .test-form {
      padding-left: 50px;
      padding-right: 50px;
    }
}

@media screen and (max-width: 1050px) {
    .app-content-body > .content-body {
      padding-left: 100px;
      padding-right: 100px;
    }
    .ancestor > .chapter-content-body {
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 100px;
      margin-left: 100px;
    }
    .chapter-content-body > .test-form {
      padding-left: 50px;
      padding-right: 50px;
    }
}

@media screen and (min-width: 900px) {
    .fixed-nav-bar > .menu-button {
      display: none;
    }
    .fixed-nav-bar > .close-menu-button {
      display: none;
    }
}

@media screen and (max-width: 900px) {
    .wrapper-ancestor > .sidebar-wrapper {
      margin-left: -500px;
    }
    .wrapper-ancestor > #page-content-wrapper {
      margin-left: -250px;
    }
    .content-body > .outer-results {
      margin-right: 0px;
    }
    .app-content-body > .content-body {
      padding: 50px;   
    }
    .ancestor > .chapter-content-body {
      margin-left: 50px;
      margin-right: 50px;  
    }
    .chapter-content-body > .test-form {
      padding: 50px;
    }

}

@media screen and (max-width: 600px) {
    .wrapper-ancestor > .sidebar-wrapper {
      margin-left: -500px;
    }
    .wrapper-ancestor > #page-content-wrapper {
      margin-left: -250px;
    }
    .content-body > .outer-results {
      margin-right: 0px;
    }
    .app-content-body > .content-body {
      padding: 0px;   
    }
    .ancestor > .chapter-content-body {
      margin-left: 10px;
      margin-right: 10px;   
    }
    .fixed-nav-bar > #ap-logo {
      max-width: 125px;
      margin-top: 10px;
      margin-left: 10px;
    }
    .chapter-content-body > .test-form {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
    }
    .field-mapping-toggle {
      padding-top: 10px;
    }
    .app-content-body > .field-finder-content-body h1{
      padding: 10px;
    }
    .app-content-body > .field-finder-content-body h6{
      padding: 10px;
    }
    .chapter-content-body > .homepage-buttons {
      padding-top: 70px;
      width: 400px;
      margin: auto;
      text-align: center;
    }
    .button-div > .tutorial-button {
      margin-top: 0px;
      margin-bottom: 0px;
      display: inline-block;
      background-color: #f58025;
      color: white;
      padding: 4px 7px;
      border: solid #f58025 1px;
    }
    .homepage-buttons >.button-div {
      padding: 6px;
      display: inline;
    }
    .button-div > .tutorial-button:hover {
      margin-top: 0px;
      margin-bottom: 0px;
      display: inline-block;
      background-color: white;
      color: #f58025;
      padding: 4px 7px;
      border: solid #f58025 1px;
      transition: all 0.4s ease 0s;
    }

}

@media screen and (max-width: 400px) {
    .fixed-nav-bar > .menu-button {
      font-size: 10px;
      margin-top: 12px;
      margin-right: 10px;
    }
    .fixed-nav-bar > .close-menu-button {
      font-size: 25px;
      margin-top: 9px;
      margin-right: 10px;
    }
    .fixed-nav-bar > #ap-logo {
      max-width: 100px;
      margin-top: 12px;
      margin-left: 6px;
    }
    .chapter-content-body > .homepage-buttons {
      padding-top: 70px;
      width: 300px;
      margin: auto;
      text-align: center;
    }
    .button-div > .tutorial-button {
      margin-top: 0px;
      margin-bottom: 16px;
      display: inline-block;
      background-color: #f58025;
      color: white;
      padding: 4px 6px;
      border: solid #f58025 1px;
    }
    .homepage-buttons >.button-div {
      padding: 7px;
      display: inline;
    }
    .button-div > .tutorial-button:hover {
      margin-top: 0px;
      margin-bottom: 0px;
      display: inline-block;
      background-color: white;
      color: #f58025;
      padding: 4px 6px;
      border: solid #f58025 1px;
      transition: all 0.4s ease 0s;
    }
    .chapter-content-body > .title {
      font-size: 2.3em;
      letter-spacing: .02em;
      margin-bottom: 20px;
      text-align: center;
    }
}

/* Body */

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}
.wizard-content-body {
  margin-top: 70px;
  margin-left: 5px;
  margin-right: 5px;
}
.margin-booster {
  margin-bottom: 50px;
}

.smaller-h6 {
  margin-top: 7px;
  margin-bottom: 15px;
}



/* Sidebar */

.active-sidebar-small-screen {
  margin-top: -40px;
  margin-left: -250px;
  padding-bottom: 50px;
  left: 250px;
  width: 230px;
  border-right: solid #E9ECEC 1px;
  background: white;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  background-color: #f9fafc;
  transition: all 0.4s ease 0s;
}

.sidebar-wrapper {
  margin-top: -40px;
  margin-left: -250px;
  padding-bottom: 50px;
  left: 250px;
  width: 230px;
  border-right: solid #E9ECEC 1px;
  background: white;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  background-color: #f9fafc;
  transition: all 0.4s ease 0s;
}

.sidebar-content {
  font-size: .8em;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  margin-top: 60px;
  overflow: hidden;
}

.sidebar-content li {
  padding: 6px 6px 6px 6px;
  list-style-type: none;
  padding-left: 15px;
}

.sidebar-content li a {
  display:inline-block;
  padding-left: 200px;
  margin-left: -200px;
  padding-right: 250px;
  margin-right: -250px;
  padding-top: 6px;
  margin-top: -6px;
  padding-bottom: 6px;
  margin-bottom: -6px;
  text-decoration: none;
  color: gray;
  font-size: 1.1em;
  letter-spacing: .02em;

}

.activePage {
  background-color: #F2F2F2;
}

.bold {
  font-weight: bold;
  font-size: 1.2em;
}
.regular-css-bold {
  font-weight: bold;
}

.activePage:not(.nohover):hover {
  background-color: #F2F2F2;
}

.sidebar-content li:hover {
 background-color: #FAFAFA;
}

.active-source-type a {
  color: #f58025 !important;
}
.sidebar-no-scroll {
  font-size: .8em;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  margin-top: 60px;
  overflow: hidden;
}

/* Main Content */

.content-header {
  position: fixed;
  width: 100%;
  margin-top: -60px;
  background-color: white;
  padding-left: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content-header h1 {
  font-size: 3em;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  padding: 5px;
}

.content-body {
  margin-top: 80px;
  font-size: 1.3em;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  width: 100%;
}

.chapter-content-body {
  margin-top: 60px;
  padding-top: 10px;
  font-size: 1.2em;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.chapter-content-body img {
  width: 100%;
}

.title {
  font-size: 3em;
  letter-spacing: .04em;
  margin-bottom: 30px;
  text-align: center;
}

.smallsave {
  max-height: 200px;
  max-width: 200px;
  float: right;
}

.img-background {
  background: #f9fafc;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #E9ECEC;
}
.body-no-scroll {
  overflow: hidden;
}

/* Navbar */

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  background-color: #233238;
}

#ap-logo {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 150px;
  margin-top: 6px;
  margin-left: 20px;
}

.menu-button {
  float: right;
  background-color: white;
  border: none;
  color: #f58025;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 6px;
  font-weight: bold;
}

.close-menu-button {
  float: right;
  background-color: #f58025;
  border: none;
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-top: 10px;
  margin-right: 30px;
  border-radius: 6px;
  font-weight: bold;
}

#webform-example {
  height: auto;
  width: 100%;
}



/* Homepage */

.homepage-buttons {
  padding-top: 100px;
  width: 500px;
  margin: auto;
  text-align: center;
}

.description-div-outer {
  padding-top: 100px;
  width: 500px;
  margin: 0 auto;
}

.description-div-inner {
  display: none;
}

.button-div {
  padding: 10px;
  display: inline;
}

.tutorial-button {
    display: block;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    background-color: #f58025;
    color: white;
    padding: 8px 14px;
    border: solid #f58025 1px;  
}

.tutorial-button:hover {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    background-color: white;
    color: #f58025;
    padding: 8px 14px;
    border: solid #f58025 1px;
    transition: all 0.4s ease 0s;
}

/* Next & Previous Buttons */

.next-button {
    margin-top: 30px;
    margin-bottom: 50px;
    display: inline-block;
    background-color: #f58025;
    color: white;
    padding: 8px 14px;
    border: solid #f58025 1px;
    float: right;
}

.next-button:hover {
    margin-top: 30px;
    margin-bottom: 50px;
    display: inline-block;
    background-color: white;
    color: #f58025;
    padding: 8px 14px;
    border: solid #f58025 1px;
    float: right;
    transition: all 0.4s ease 0s;
}

.previous-button {
    margin-top: 30px;
    display: inline-block;
    border: solid #f58025 1px;
    background-color: white;
    color: #f58025;
    padding: 8px 14px;
    margin-bottom: 50px;
}

.previous-button:hover {
    margin-top: 30px;
    display: inline-block;
    border: solid #233238 1px;
    background-color: white;
    color: #233238;
    padding: 8px 14px;
    margin-bottom: 50px;
    transition: all 0.4s ease 0s;
}

/* Field Finder */

.field-finder-content-body {
  margin-top: 80px;
  font-size: 1.3em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  width: 100%;
}

.startover-button {
    display: inline-block;
    font-size: .7em;
    background-color: #C43631;
    color: white;
    padding: 4px 7px;
    border-radius: 3px;
    border: #C43631;
}

.input-matches {
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: solid #F8F9F9 1px;
}

.fields-div {
  background-color: #ECECEC;
  margin-bottom: 6px;
  padding: 6px;
}

.input-matches > .fields {
  text-decoration: none;
}

.leadconduit-field {
  font-size: .7em;
  margin-top: 6px;
  margin-left: 10px;
  padding: 9px;
  border-radius: 3px;
  text-align: left;
  background-color: white;
  color: black;
  display: inline-block;
  width: 40%;
  white-space: nowrap;
  overflow: auto;
  text-overflow: clip;
  -moz-box-shadow: 0 0 3px #B4B4B3;
  -webkit-box-shadow: 0 0 3px #B4B4B3;
  box-shadow: 0 0 3px #B4B4B3;

}

.input-field {
  float: right;
  font-size: .7em;
  margin-top: 6px;
  margin-left: 10px;
  padding: 9px;
  border-radius: 3px;
  text-align: left;
  background-color: white;
  color: black;
  display: inline-block;
  width: 40%;
  white-space: nowrap;
  overflow: auto;
  text-overflow: clip;
  -moz-box-shadow: 0 0 3px #B4B4B3;
  -webkit-box-shadow: 0 0 3px #B4B4B3;
  box-shadow: 0 0 3px #B4B4B3;
}

.source-field {
  background-color: #39616b;
  color: white;
  padding: 6px;
  border-radius: 5px;
}

.leadconduit-standard-field {
  font-size: .7em;
  margin-top: 6px;
  margin-left: 10px;
  padding: 9px;
  border-radius: 3px;
  text-align: left;
  background-color: white;
  color: black;
  display: inline-block;
  width: 45%;
  white-space: nowrap;
  overflow: auto;
  text-overflow: clip;
  -moz-box-shadow: 0 0 3px #B4B4B3;
  -webkit-box-shadow: 0 0 3px #B4B4B3;
  box-shadow: 0 0 3px #B4B4B3;
}

.leadconduit-standard-color {
  background-color: #70b3c1;
  color: white;
  padding: 6px;
  border-radius: 5px;
}

.set {
  display: inline-block;
  float: left;
  font-size: .7em;
  margin-top: 15px;
}

.to {
  
  font-size: .7em;
  margin-left: 20px;
  margin-top: -20px;
}

.field-mapping-toggle {
  margin-bottom: 40px;
  width: 200px;
  margin: auto;
  padding-bottom: 20px;
}

.startover {
  display: inline;
  cursor: pointer;
}

.startover:hover {
  display: inline;
  cursor: pointer;
  color: #C43631;
  transition: all 0.6s ease 0s;
}

.field-mapping-button {
  float: right;
}

.input-search-results {
  color: #E94848;
  transition: all 0.6s ease 0s;
}

/* Test Form and Field Finder Shared */

.outer {
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: solid #F8F9F9 1px;
}

.inner {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-top: 30px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
}

/* Form Tester */

.form-finder-inner {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
}

.results {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: solid #F8F9F9 1px;
}

.bad_lead {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-right: 70px;
  margin-top: 10px;
  background-color: #E94848;
  color: white;
  border-radius: 10px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  text-decoration: none;
  transition: all 0.6s ease 0s;
}

.good_lead {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-right: 70px;
  margin-top: 10px;
  background-color: #7BD08E;
  color: white;
  border-radius: 10px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  text-decoration: none;
  transition: all 0.6s ease 0s;
}

#bad_lead {
  color: #E94848;
  font-weight: bold;
}

#good_lead {
  color: #7BD08E;
  font-weight: bold;
}

#error_lead {
  color: yellow;
  font-weight: bold;
}

.outer-results {
  margin-top: 15px;
  background-color: white;
  border: solid #E8E9E9 1px;
  margin-bottom: 50px;
}

.response {
  color: #B9BABA;
  margin-left: 70px;
  padding-top: 20px;
  margin-right: 10px;
  padding-bottom: 20px;
  text-decoration: none;
  font-size: .8em;
}

.response_text {
  color: white;
  font-weight: bold;
  font-size: 1.1em;}

.outcome {
  text-align: center;
}

#outcome {
  font-size: 1.4em;
}

.response-text {
  color: black;
}

.lc_link {
  margin-top: 10px;
  margin-right: 30px;
}

/* QuickStart */

.quickstart-outer {
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: solid #F8F9F9 1px;
}

.quickstart {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
}

.quickstart-buttons-div {
  float: right;
  padding-bottom: 30px;
  margin-top: 20px;
}

.quickstart-button {
  margin-right: 10px;
  padding-bottom: 20px;
  background-color: white;
  color: #f58025;
  padding: 8px 14px;
  border: solid #f58025 1px; 
}
.quickstart-button:hover {
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #f58025;
    color: white;
    padding: 8px 14px;
    border: solid #f58025 1px;
    transition: all 0.4s ease 0s;
}
.sizer {
  width: 100%;
}
.field-vendor-form {
text-align: center;
}
.outer-field-vendor-form {
  margin: auto;
}
.field-vendor-form-button {
  margin-right: 10px;
  padding-bottom: 20px;
  background-color: white;
  color: #f58025;
  padding: 8px 14px;
  border: solid #f58025 1px; 
  text-align: center;
}
.more-button {
  cursor: pointer;
  text-decoration: none;
  color: #3399ff;
}
.show {
  transition: all 0.4s ease 0s;
}
.hide {
  display: none;
  transition: all 0.4s ease 0s;
}
#hidden {
  display: none;
}
.hidden {
  display: none;
}

/* Wizard Stuff */

.wizard-outer {
  width: 100%;
}
.wizard-inner {
  display: table;
  margin: auto;
}

.wizard-content {
  display: inline-block;
  border: 1px solid #E9ECEC;
  margin: auto;
  padding: 30px;
  padding-top: 30px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  border-radius:7px;
}
.wizard-spacer {
  visibility: hidden;
  height: 0px;
  padding-top: 0px;
  margin-top: 0px;
}
.wizard-yes-button {
  margin-top: 30px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #f58025;
  color: white;
  padding: 8px 14px;
  border: solid #f58025 1px;
  float: right;
  border-radius: 2px;
}
.wizard-yes-button:hover {
  margin-top: 30px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: #f58025;
  color: white;
  padding: 8px 14px;
  border: solid #f58025 1px;
  float: right;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.wizard-no-button {
  margin-top: 30px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: white;
  color: #f58025;
  padding: 8px 14px;
  border: solid #f58025 1px;
  float: right;
  margin-right: 10px;
  border-radius: 2px;
}
.wizard-no-button:hover {
  margin-top: 30px;
  margin-bottom: 20px;
  display: inline-block;
  background-color: white;
  color: #f58025;
  padding: 8px 14px;
  border: solid #f58025 1px;
  float: right;
  margin-right: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.wizard-back-button {
  margin-top: 30px;
  display: inline-block;
  border: solid #233238 1px;
  background-color: #233238;
  color: white;
  padding: 8px 14px;
  margin-bottom: 20px;
  border-radius: 2px;
}
.wizard-back-button:hover {
  margin-top: 30px;
  display: inline-block;
  border: solid #233238 1px;
  background-color: #233238;
  color: white;
  padding: 8px 14px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Testing Tool */

.inner-test-tool {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 30px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
}
.field-response {
  margin-left: 100px;
  padding-top: 20px;
  margin-right: 100px;
  padding-bottom: 20px;
  text-decoration: none;
  font-size: .8em;
}
.smaller-title {
  font-size: 2em;
  letter-spacing: .03em;
  margin-bottom: 20px;
  text-align: center;
}
.even-smaller-title {
  font-size: 1em;
  letter-spacing: .01em;
  margin-bottom: 20px;
  text-align: center;
}
.test-form-title {
  font-size: 1.4em;
  letter-spacing: .02em;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom:15px;
  margin-top: 30px;
  text-align: center;
}

.transition {
  transition: all 0.6s ease 0s;
}
.outer-test-tool {
  margin-top: 30px;
  background-color: white;
  border: solid #D7DFE7 2px;
  border-radius: 5px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.button-margin {
  padding-bottom: 20px;
}
