#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-top: -40px;
  margin-left: -250px;
  left: 250px;
  width: 280px;
  border-right: solid #E9ECEC 1px;
  background: white;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  
}

.sidebar-content {
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  margin-top: 60px;
}

.sidebar-content li {
  padding: 6px 6px 6px 6px;
  list-style-type: none;
  padding-left: 15px;
}

.sidebar-content li a {
  display:inline-block;
  padding-left: 200px;
  margin-left: -200px;
  padding-right: 250px;
  margin-right: -250px;
  padding-top: 6px;
  margin-top: -6px;
  padding-bottom: 6px;
  margin-bottom: -6px;

}

.activePage {
  background-color: #F2F2F2;
}

.activePage:not(.nohover):hover {
  background-color: #F2F2F2;
}

.sidebar-content li:hover {
 background-color: #FAFAFA;
}

.sidebar-content li a {
  text-decoration: none;
  color: gray;
  font-size: 1.1em;
  letter-spacing: .02em;
}

#page-content-wrapper {
  width: 100%;
}

.content-header {
  position: fixed;
  width: 100%;
  margin-top: -60px;
  background-color: white;
  padding-left: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content-header h1 {
  font-size: 3em;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  padding: 5px;
}

.content-body {
  margin-top: 80px;
  font-size: 1.3em;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
}

.content-body img {
  width: auto;
  max-width: 700px;
  height: auto;
  max-height: 700px;
  padding: 50px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background-color: #233238;
  border-bottom: solid #F8F8F9 2px;
 
}

#ap-logo {
  width: auto;
  max-width: 230px;
  height: auto;
  max-height: 200px;
  margin-top: 6px;
  margin-left: 20px;
}

.title {
  font-size: 3em;
  letter-spacing: .02em;
  margin-bottom: 30px
}