
.outer {
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: solid #F8F9F9 1px;
}

.inner {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-top: 30px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
}

.results {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: solid #F8F9F9 1px;
}

.bad_lead {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-right: 70px;
  margin-top: 10px;
  background-color: #E94848;
  color: white;
  border-radius: 10px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  text-decoration: none;
  transition: all 0.6s ease 0s;
}

.good_lead {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-right: 70px;
  margin-top: 10px;
  background-color: #7BD08E;
  color: white;
  border-radius: 10px;
  font-family: "Whitney A","Whitney B",Arial,sans-serif;
  text-decoration: none;
  transition: all 0.6s ease 0s;
}

#bad_lead {
  color: #E94848;
  font-weight: bold;
}

#good_lead {
  color: #7BD08E;
  font-weight: bold;
}

#error_lead {
  color: yellow;
  font-weight: bold;
}

.outer-results {
  margin-top: 15px;
  background-color: white;
  border: solid #E8E9E9 1px;
}

.response {
  color: #B9BABA;
  margin-left: 70px;
  padding-top: 20px;
  margin-right: 10px;
  padding-bottom: 20px;
  text-decoration: none;
  font-size: .8em;
}

.response_text {
  color: white;
  font-weight: bold;
  font-size: 1.1em;}

.outcome {
  text-align: center;
}
#outcome {
  font-size: 1.4em;
}

.response-text {
  color: black;
}

.lc_link {
  margin-top: 10px;
  margin-right: 30px;
}